.card h2 {
  font-family: "Bitcount", sans-serif;
  font-weight: 400;
  color: white !important;
}

body {
  background-color: black; /* Using a color name */
  color: white; /* Optional: sets text color to white for readability on a black background */
}

.card {
  background-color: gray;
}